@import 'src/styles.scss';

header {
  background-color: $primary-color;
  padding: 1rem 0;

  nav {
    display: flex;
    justify-content: space-between;

    a {
      color: $light-text-color;
      padding: 0.5rem 1rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}