<div class="cursos-certificaciones">
    <h2>Cursos y Certificaciones</h2>
    <div class="item">
      <h3>Princeton's Algoritms, Part 1</h3>
      <p>Curso de estructura de datos y algoritmos - <a href="https://www.coursera.org/learn/algorithms-part1" target="_blank">Página web de coursera</a></p>
      <p>2021</p>
    </div>
    <div class="item">
      <h3>UAlberta's Software Design and Architecture Specialization</h3>
      <p>4 cursos de Diseño de Software y Arquitectura - <a href="https://www.coursera.org/specializations/software-design-architecture" target="_blank">Página web de coursera</a></p>
      <p>2022</p>
    </div>
    <div class="item">
      <h3>Oracle Dev Gym</h3>
      <p>Cursos en Línea sobre BD - <a href="https://devgym.oracle.com/pls/apex/f?p=10001:20011::::20011::" target="_blank">Página web de Dev Gym</a></p>
      <p>2022</p>
    </div>
    <div class="item">
      <h3>PMI Kickoff</h3>
      <p>Curso kickoff de Project Management Institute - <a href="https://www.pmi.org/kickoff" target="_blank">Página web de PMI</a></p>
      <p>2022</p>
    </div>
  </div>  