<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Contacto | Página de Presentación</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">Tonatiuh Ramos | Presentación</div>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/hobbies">Hobbies</a></li>
                <li><a href="/fotos">Fotos</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="contacto">
            <h2>Contacto</h2>
            <p>Email: is730609@iteso.mx</p>
            <p>Teléfono: +52 3313004421</p>
        </section>
    </main>
    <footer>
        &copy; 2023 Gerardo Tonatiuh Ramos Pérez. Todos los derechos reservados.
    </footer>
</body>
</html>