<div class="proyectos">
    <h2>Proyectos</h2>
    <div class="item">
      <h3>Caja Fuerte (Assembly)</h3>
      <p>Creación de una caja fuerte utilizando lenguaje ensamblador y el microcontrolador Intel 8051</p>
      <p><a href="https://github.com/is730609/caja-fuerte-assembly" target="_blank">Repositorio en GitHub</a></p>
    </div>
    <div class="item">
      <h3>Videojuego Automata Finito (Python)</h3>
      <p>Creación de un nivel de un videojuego utilizando Automatas Finitos, Flex y Yacc.</p>
      <p><a href="https://github.com/is730609/videojuego-af" target="_blank">Repositorio en GitHub</a></p>
    </div>
  </div>  